:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #160511;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #591038;
  text-decoration: inherit;
}
a:hover {
  color: #591038;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: white;
  box-shadow: 0px 0px 25px #800046;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #591038;
  }
  button {
    background-color: #f9f9f9;
  }
}

.item{

    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    max-width: 300px;
    display: inline-block;
}

.skill-form {  margin-top: 20px;
}

.filters button {
  margin: 5px;
}

.showbtn{
  text-align: center;
  place-items: center;
}

.row{
  text-align: center;
  align-items: center;
  gap: 8px;
  vertical-align: top;
}

input{
  height: 35px;
  border-radius: 8px;
}
/* .skillcard{
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  max-width: 300px;
  display: inline-block;
} */

.skillcard {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
  margin: 16px;
  max-height: 300px;
  max-width: 350px;
  display: inline-block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.skillcard h3{
  padding: 0;
  margin: 8px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.skillcard p{
  padding: 8px 16px;
  margin: 0;
  margin-bottom: 8px;
  word-wrap: break-word;
  max-width: 600px;
  overflow-wrap: break-word;
  padding: 0 8px; 
}

.level {
  color: #666;
}

.skillcard button {
  background-color: #591038;
  color: #fff;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  margin-top: 8px;
  margin-left: 8px;
}

.skillcard button:hover {
  background-color: #fff;
  color: #591038;
  box-shadow: 0px 0px 25px #800046;
}


/* app.jsx */
.container {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 20px;
}

.skillsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 4fr));
  gap: 10px;

}

.toggleButton {
  display: block;
  margin: 20px 100px;
  background-color: #591038;
  border: 1px solid #591038;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  
}

.toggleButton:hover {
  background-color: #591038;
  border:1px solid 591038;
  box-shadow: none;
}



/* list */
.form {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 1500px;
  margin: 0 auto;
  
}

.formGroup {
  margin-bottom: 16px;
  padding : 16px;
  text-align: center;
}

.formGroup input,
.formGroup textarea {
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  margin: 5px; 
  vertical-align: middle;
  background-color: #271d29;
}

.submitButton {
  background-color: #591038;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  width: 200px;
  height: 55px;
  vertical-align: middle;
  margin-left: 100px;
}

.submitButton:hover {
  background-color: #591038;
  box-shadow: 0px 0px 25px #800046;
  border: 1px solid white;
}

.formochka {
  margin-left: 15px;
}

.filterbuttons{
  padding-top: 10px;
  padding-bottom: 10px;
}
.filterbuttons button{
  display: inline-block;
  max-width: 350px;
  margin-right: 100px;
  margin-left: 100px;
  background-color: #271d29;
}
.filterbuttons :hover{
  display: inline-block;
  max-width: 350px;
  margin-right: 100px;
  margin-left: 100px;
  background-color: #271d29;
  border: 1px solid white;
  
  box-shadow: 0px 0px 25px #271d29;
}